* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: $main;
  color: $textColor;
}


.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}